<?xml version ="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="postmanApiTesting">
    <listeners>
        <listener class-name="utilities.Reporting"/>
    </listeners>
    <test name ="Github API  Test">
            <classes>
                <class name="testCases.Get200"/>
                <class name="testCases.Get401"/>
                <class name="testCases.Get404"/>
                <class name="testCases.BodyTestWithSimpleMap"/>
                <class name="testCases.BodyTestWithJackson"/>
                <class name="testCases.Options204"/>
                <class name="testCases.DeleteAndPost"/>

<!--                <class name="testCases.TC_NavBarElement_001"/>-->

            </classes>
    </test>
</suite>